<div class="flex min-h-full flex-col justify-center sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900"><%= t('settings') %></h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <%= form_with(model: @user) do |f| %>
        <div class="space-y-6">
          <div>
            <%= f.label :username, class: 'block text-sm font-medium text-gray-700' %>
            <div class="mt-1">
              <%= f.text_field :username, required: true, class: 'block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
            </div>
            <% if @user.errors[:username].present? %>
              <p class="mt-2 text-sm text-red-600"><%= @user.errors[:username].join(', ') %></p>
            <% end %>
          </div>
          <div>
            <%= f.label :open_ai_token, class: 'block text-sm font-medium text-gray-700' %>
            <div class="mt-1">
              <%= f.text_field :open_ai_token, required: true, class: 'block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
            </div>
            <% if @user.errors[:open_ai_token].present? %>
              <p class="mt-2 text-sm text-red-600"><%= @user.errors[:open_ai_token].join(', ') %></p>
            <% end %>
            <p class="mt-2 text-sm text-indigo-600"><%= link_to(t('open_ai_token_instructions_html'), root_path(anchor: 'instructions')) %></p>
          </div>
          <div>
            <%= f.submit t('save_settings'), class: 'flex w-full cursor-pointer justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2' %>
          </div>
        </div>
      <% end %>
      <div class="relative my-8">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
          <span class="bg-white px-2 text-sm text-gray-500"><%= t('if_change_password') %></span>
        </div>
      </div>
      <%= form_with(model: @user) do |f| %>
        <div class="space-y-6">
          <div>
            <%= f.label :password, class: 'block text-sm font-medium text-gray-700' %>
            <div class="mt-1">
              <%= f.password_field :password, required: true, class: 'block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
            </div>
            <% if @user.errors[:password].present? %>
              <p class="mt-2 text-sm text-red-600"><%= @user.errors[:password].join(', ') %></p>
            <% end %>
          </div>
          <div>
            <%= f.label :password_confirmation, class: 'block text-sm font-medium text-gray-700' %>
            <div class="mt-1">
              <%= f.password_field :password_confirmation, required: true, class: 'block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
            </div>
            <% if @user.errors[:password_confirmation].present? %>
              <p class="mt-2 text-sm text-red-600"><%= @user.errors[:password_confirmation].join(', ') %></p>
            <% end %>
          </div>
          <div>
            <%= f.submit t('change_password'), class: 'flex w-full cursor-pointer justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2' %>
          </div>
        </div>
      <% end %>
      <div class="relative my-8">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
          <span class="bg-white px-2 text-sm text-gray-500"><%= t('danger_area') %></span>
        </div>
      </div>
      <%= button_to(t('delete_account'), user_path(current_user), method: :delete,
                    class: 'flex w-full cursor-pointer justify-center rounded-md border border-transparent bg-red-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2',
                    form: { data: { turbo_confirm: t('are_you_sure')} })
      %>
    </div>
  </div>
</div>
