<% if page.story.title.present? %>
  <h1 class="text-2xl text-center text-2xl lg:text-4xl xl:text-5xl tracking-wide text-zinc-800 mt-8 mb-16"><%= page.story.title %></h1>
<% end %>
<div class="grid grid-cols-1 gap-4 md:grid-cols-2" data-controller="page-navigation">
  <div class="overflow-hidden rounded-lg bg-slate-50 shadow mb-8 aspect-square flex items-center justify-center" id="image-wrapper">
    <%= render partial: 'pages/image', locals: { page: } %>
  </div>
  <div>
    <% page.content.split('.').each do |p| %>
      <p class="mb-8 text-2xl lg:text-4xl xl:text-5xl tracking-wide text-zinc-800 px-8 book-font">
        <%= p %>.
      </p>
    <% end %>
    <div class="text-right">
      <% if page.prev_page.present? %>
        <%= link_to story_page_path(story_id: page.story, id: page.prev_page.number), data: { page_navigation_target: 'prevPage' },
                    class: 'inline-block rounded-lg bg-indigo-400 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-indigo-400 hover:bg-indigo-500 hover:ring-indigo-500 mr-4' do %>
          <%= t('prev_page') %>
          <span class="text-indigo-100" aria-hidden="true">&larr;</span>
        <% end %>
      <% end %>
      <% if page.next_page.present? %>
        <%= link_to story_page_path(story_id: page.story, id: page.next_page.number), data: { page_navigation_target: 'nextPage' },
                    class: 'inline-block rounded-lg bg-indigo-600 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-indigo-600 hover:bg-indigo-700 hover:ring-indigo-700' do %>
          <%= t('next_page') %>
          <span class="text-indigo-200" aria-hidden="true">&rarr;</span>
        <% end %>
      <% else %>
        <p class="mt-8 text-3xl lg:text-5xl xl:text-6xl tracking-wide text-indigo-800 px-8 book-font">
          <%= t('the_end') %>
        </p>
      <% end %>
    </div>
  </div>
</div>

