<%= form_with(model: @story, class: 'mx-auto max-w-3xl px-8') do |f| %>
  <%= f.label :main_character, t('stories_form.main_character'), class: 'block text-sm font-medium text-gray-700' %>
  <div class="mt-1">
    <%= f.text_field :main_character, class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm',
                     placeholder: t('stories_form.main_character_placeholder'), aria_describedby: 'main-character-description', required: true %>
  </div>
  <p class="mt-2 mb-4 text-sm text-gray-500" id="main-character-description">
    <%= t('stories_form.main_character_description') %>
  </p>
  <%= f.label :secondary_character, t('stories_form.secondary_character'), class: 'block text-sm font-medium text-gray-700' %>
  <div class="mt-1">
    <%= f.text_field :secondary_character, class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm',
                     placeholder: t('stories_form.secondary_character_placeholder'), aria_describedby: 'secondary-character-description', required: true %>
  </div>
  <p class="mt-2  mb-4 text-sm text-gray-500" id="secondary-character-description">
    <%= t('stories_form.secondary_character_description') %>
  </p>
  <%= f.label :villain, t('stories_form.villain'), class: 'block text-sm font-medium text-gray-700' %>
  <div class="mt-1">
    <%= f.text_field :villain, class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm',
                     placeholder: t('stories_form.villain_placeholder'), aria_describedby: 'villain-description', required: true %>
  </div>
  <p class="mt-2  mb-4 text-sm text-gray-500" id="villain-description">
    <%= t('stories_form.villain_description') %>
  </p>
  <%= f.label :image_style, t('stories_form.image_style'), class: 'block text-sm font-medium text-gray-700' %>
  <div class="mt-1">
    <%= f.text_field :image_style, rows: 4, class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm',
                     required: true, aria_describedby: 'style-of-images-description', placeholder: t('stories_form.image_style_placeholder') %>
  </div>
  <p class="mt-2  mb-4 text-sm text-gray-500" id="style-of-images-description">
    <%= t('stories_form.image_style_description') %>
  </p>
  <%= f.label :extra_details, t('stories_form.extra_details'), class: 'block text-sm font-medium text-gray-700' %>
  <div class="mt-1">
    <%= f.text_area :extra_details, rows: 4, class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm', required: true,
                    aria_describedby: 'extra-details-description',
                    placeholder: t('stories_form.extra_details_placeholder') %>
  </div>
  <p class="mt-2  mb-4 text-sm text-gray-500" id="extra-details-description">
    <%= t('stories_form.extra_details_description') %>
  </p>
  <div class="text-right">
    <%= f.button class: 'inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2' do %>
      <%= t('stories_form.do_the_magic') %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ml-3 -mr-1 w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z" />
      </svg>
    <% end %>
  </div>
<% end %>
