<% if pagy.count > 10 %>
  <div class="flex items-center justify-between border-t border-gray-200 px-4 py-3 sm:px-6">
    <div class="flex flex-1 justify-between sm:hidden">
      <% if pagy.prev %>
        <a href="<%= pagy_url_for(pagy, pagy.prev) %>" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">
          <%= pagy_t('pagy.nav.prev').html_safe %>
        </a>
      <% end %>
      <% if pagy.next %>
        <a href="<%= pagy_url_for(pagy, pagy.next) %>" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">
          <%= pagy_t('pagy.nav.next').html_safe %>
        </a>
      <% end %>
    </div>
    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700">
          <%= t('pagination.showing') %>
          <span class="font-medium"><%= pagy.from %></span>
          <%= t('pagination.to') %>
          <span class="font-medium"><%= pagy.to %></span>
          <%= t('pagination.of') %>
          <span class="font-medium"><%= pagy.count %></span> <%= t('pagination.results') %>
        </p>
      </div>
      <div>
        <%== pagy_nav(@pagy) %>
      </div>
    </div>
  </div>
<% end %>
